In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import random as rand

In [2]:
%cd sberbank-russian-housing-market
%cd sberbank-russian-housing-market

C:\Users\speed\Documents\Senior Year (2020-2021)\Fall Quarter\Data 401\Project 3\sberbank-russian-housing-market
C:\Users\speed\Documents\Senior Year (2020-2021)\Fall Quarter\Data 401\Project 3\sberbank-russian-housing-market\sberbank-russian-housing-market

In [3]:
df = pd.read_csv('train.csv')
df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [4]:
macro = pd.read_csv('macro.csv')
macro.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [5]:
df_merge = df.merge(right = macro, how = "left", on = "timestamp")
df_merge.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,271.0,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0

In [6]:
for col in df_merge.columns:
  print(col)
  if df_merge[col].dtype == "object" or df_merge[col].isna().sum == 0:
    continue
  else:
    mask = df_merge[col].notnull()
    col_med = df_merge.loc[mask, col].median()
    df_merge.loc[~mask, col] = col_med

id
timestamp
full_sq
life_sq
floor
max_floor
material
build_year
num_room
kitch_sq
state
product_type
sub_area
area_m
raion_popul
green_zone_part
indust_part
children_preschool
preschool_quota
preschool_education_centers_raion
children_school
school_quota
school_education_centers_raion
school_education_centers_top_20_raion
hospital_beds_raion
healthcare_centers_raion
university_top_20_raion
sport_objects_raion
additional_education_raion
culture_objects_top_25
culture_objects_top_25_raion
shopping_centers_raion
office_raion
thermal_power_plant_raion
incineration_raion
oil_chemistry_raion
radiation_raion
railroad_terminal_raion
big_market_raion
nuclear_reactor_raion
detention_facility_raion
full_all
male_f
female_f
young_all
young_male
young_female
work_all
work_male
work_female
ekder_all
ekder_male
ekder_female
0_6_all
0_6_male
0_6_female
7_14_all
7_14_male
7_14_female
0_17_all
0_17_male
0_17_female
16_29_all
16_29_male
16_29_female
0_13_all
0_13_male
0_13_female
raion_build_count_with_material_info
build_count_block
build_count_wood
build_count_frame
build_count_brick
build_count_monolith
build_count_panel
build_count_foam
build_count_slag
build_count_mix
raion_build_count_with_builddate_info
build_count_before_1920
build_count_1921-1945
build_count_1946-1970
build_count_1971-1995
build_count_after_1995
ID_metro
metro_min_avto
metro_km_avto
metro_min_walk
metro_km_walk
kindergarten_km
school_km
park_km
green_zone_km
industrial_km
water_treatment_km
cemetery_km
incineration_km
railroad_station_walk_km
railroad_station_walk_min
ID_railroad_station_walk
railroad_station_avto_km
railroad_station_avto_min
ID_railroad_station_avto
public_transport_station_km
public_transport_station_min_walk
water_km
water_1line
mkad_km
ttk_km
sadovoe_km
bulvar_ring_km
kremlin_km
big_road1_km
ID_big_road1
big_road1_1line
big_road2_km
ID_big_road2
railroad_km
railroad_1line
zd_vokzaly_avto_km
ID_railroad_terminal
bus_terminal_avto_km
ID_bus_terminal
oil_chemistry_km
nuclear_reactor_km
radiation_km
power_transmission_line_km
thermal_power_plant_km
ts_km
big_market_km
market_shop_km
fitness_km
swim_pool_km
ice_rink_km
stadium_km
basketball_km
hospice_morgue_km
detention_facility_km
public_healthcare_km
university_km
workplaces_km
shopping_centers_km
office_km
additional_education_km
preschool_km
big_church_km
church_synagogue_km
mosque_km
theater_km
museum_km
exhibition_km
catering_km
ecology
green_part_500
prom_part_500
office_count_500
office_sqm_500
trc_count_500
trc_sqm_500
cafe_count_500
cafe_sum_500_min_price_avg
cafe_sum_500_max_price_avg
cafe_avg_price_500
cafe_count_500_na_price
cafe_count_500_price_500
cafe_count_500_price_1000
cafe_count_500_price_1500
cafe_count_500_price_2500
cafe_count_500_price_4000
cafe_count_500_price_high
big_church_count_500
church_count_500
mosque_count_500
leisure_count_500
sport_count_500
market_count_500
green_part_1000
prom_part_1000
office_count_1000
office_sqm_1000
trc_count_1000
trc_sqm_1000
cafe_count_1000
cafe_sum_1000_min_price_avg
cafe_sum_1000_max_price_avg
cafe_avg_price_1000
cafe_count_1000_na_price
cafe_count_1000_price_500
cafe_count_1000_price_1000
cafe_count_1000_price_1500
cafe_count_1000_price_2500
cafe_count_1000_price_4000
cafe_count_1000_price_high
big_church_count_1000
church_count_1000
mosque_count_1000
leisure_count_1000
sport_count_1000
market_count_1000
green_part_1500
prom_part_1500
office_count_1500
office_sqm_1500
trc_count_1500
trc_sqm_1500
cafe_count_1500
cafe_sum_1500_min_price_avg
cafe_sum_1500_max_price_avg
cafe_avg_price_1500
cafe_count_1500_na_price
cafe_count_1500_price_500
cafe_count_1500_price_1000
cafe_count_1500_price_1500
cafe_count_1500_price_2500
cafe_count_1500_price_4000
cafe_count_1500_price_high
big_church_count_1500
church_count_1500
mosque_count_1500
leisure_count_1500
sport_count_1500
market_count_1500
green_part_2000
prom_part_2000
office_count_2000
office_sqm_2000
trc_count_2000
trc_sqm_2000
cafe_count_2000
cafe_sum_2000_min_price_avg
cafe_sum_2000_max_price_avg
cafe_avg_price_2000
cafe_count_2000_na_price
cafe_count_2000_price_500
cafe_count_2000_price_1000
cafe_count_2000_price_1500
cafe_count_2000_price_2500
cafe_count_2000_price_4000
cafe_count_2000_price_high
big_church_count_2000
church_count_2000
mosque_count_2000
leisure_count_2000
sport_count_2000
market_count_2000
green_part_3000
prom_part_3000
office_count_3000
office_sqm_3000
trc_count_3000
trc_sqm_3000
cafe_count_3000
cafe_sum_3000_min_price_avg
cafe_sum_3000_max_price_avg
cafe_avg_price_3000
cafe_count_3000_na_price
cafe_count_3000_price_500
cafe_count_3000_price_1000
cafe_count_3000_price_1500
cafe_count_3000_price_2500
cafe_count_3000_price_4000
cafe_count_3000_price_high
big_church_count_3000
church_count_3000
mosque_count_3000
leisure_count_3000
sport_count_3000
market_count_3000
green_part_5000
prom_part_5000
office_count_5000
office_sqm_5000
trc_count_5000
trc_sqm_5000
cafe_count_5000
cafe_sum_5000_min_price_avg
cafe_sum_5000_max_price_avg
cafe_avg_price_5000
cafe_count_5000_na_price
cafe_count_5000_price_500
cafe_count_5000_price_1000
cafe_count_5000_price_1500
cafe_count_5000_price_2500
cafe_count_5000_price_4000
cafe_count_5000_price_high
big_church_count_5000
church_count_5000
mosque_count_5000
leisure_count_5000
sport_count_5000
market_count_5000
price_doc
oil_urals
gdp_quart
gdp_quart_growth
cpi
ppi
gdp_deflator
balance_trade
balance_trade_growth
usdrub
eurrub
brent
net_capital_export
gdp_annual
gdp_annual_growth
average_provision_of_build_contract
average_provision_of_build_contract_moscow
rts
micex
micex_rgbi_tr
micex_cbi_tr
deposits_value
deposits_growth
deposits_rate
mortgage_value
mortgage_growth
mortgage_rate
grp
grp_growth
income_per_cap
real_dispos_income_per_cap_growth
salary
salary_growth
fixed_basket
retail_trade_turnover
retail_trade_turnover_per_cap
retail_trade_turnover_growth
labor_force
unemployment
employment
invest_fixed_capital_per_cap
invest_fixed_assets
profitable_enterpr_share
unprofitable_enterpr_share
share_own_revenues
overdue_wages_per_cap
fin_res_per_cap
marriages_per_1000_cap
divorce_rate
construction_value
invest_fixed_assets_phys
pop_natural_increase
pop_migration
pop_total_inc
childbirth
mortality
housing_fund_sqm
lodging_sqm_per_cap
water_pipes_share
baths_share
sewerage_share
gas_share
hot_water_share
electric_stove_share
heating_share
old_house_share
average_life_exp
infant_mortarity_per_1000_cap
perinatal_mort_per_1000_cap
incidence_population
rent_price_4+room_bus
rent_price_3room_bus
rent_price_2room_bus
rent_price_1room_bus
rent_price_3room_eco
rent_price_2room_eco
rent_price_1room_eco
load_of_teachers_preschool_per_teacher
child_on_acc_pre_school
load_of_teachers_school_per_teacher
students_state_oneshift
modern_education_share
old_education_build_share
provision_doctors
provision_nurse
load_on_doctors
power_clinics
hospital_beds_available_per_cap
hospital_bed_occupancy_per_year
provision_retail_space_sqm
provision_retail_space_modern_sqm
turnover_catering_per_cap
theaters_viewers_per_1000_cap
seats_theather_rfmin_per_100000_cap
museum_visitis_per_100_cap
bandwidth_sports
population_reg_sports_share
students_reg_sports_share
apartment_build
apartment_fund_sqm

In [7]:
X_vals = df_merge[["full_sq", "life_sq", "floor"]]
X_vals["Intercept_"] = 1
X_vals = X_vals.fillna(0)
X_vals.head()

<ipython-input-7-63373e3e638f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_vals["Intercept_"] = 1

   full_sq  life_sq  floor  Intercept_
0     43.0     27.0    4.0           1
1     34.0     19.0    3.0           1
2     43.0     29.0    2.0           1
3     89.0     50.0    9.0           1
4     77.0     77.0    4.0           1

In [8]:
y_vals = df["price_doc"]
y_vals

0         5850000
1         6000000
2         5700000
3        13100000
4        16331452
           ...
30466     7400000
30467    25000000
30468     6970959
30469    13500000
30470     5600000
Name: price_doc, Length: 30471, dtype: int64

In [9]:
def MSE(y,y_pred):
  return (y-y_pred).pow(2).sum()/y.shape[0]

In [10]:
def linearRegression(X_train,y_train):
  betas = np.linalg.inv(X_train.T.dot(X_train)).dot(X_train.T).dot(y_train)
  return betas

In [11]:
random_sample = rand.sample(list(range(len(X_vals))), 1000)
X_test = X_vals.iloc[random_sample]
y_test = y_vals.iloc[random_sample]

X_train = X_vals.loc[~X_vals.index.isin(random_sample)]
y_train = y_vals.loc[~y_vals.index.isin(random_sample)]

In [12]:
betas = linearRegression(X_train,y_train)
betas

array([  38952.63670162,   10667.97814326,   76047.97722623,
       4066693.97583315])

In [13]:
y_pred = X_test.dot(betas)
MSE(y_test,y_pred)

19233360592885.695

In [21]:
def crossValidation(df_x, df_y, k = 4):          #The default number of folds is 4.
    
  numRows = len(df_x)
  cvL = []
  randL = rand.sample(range(0,numRows), numRows)   #Here we randomize the order of the rows.

  pointer = int(numRows/4)
  for i in range(k):        #Here we split the randomized rows into k sections for the cross-validation.
    if i == k-1:
      cvL.append(randL[pointer*(i):])
    else:
      cvL.append(randL[pointer*i:pointer*(i+1)])

  mseT = 0            #This variable holds the total MSE across each fold, which will later be used to calculate the average MSE.
    
  for i in range(k):        #Iterates through each fold.
    x_test = df_x.iloc[cvL[i]]
    y_test = df_y.iloc[cvL[i]]
    x_train = []
    y_train = []
    comb = []
    for j in range(k):       #Creates the training set.
      if i != j:
        comb += cvL[j]
    xSlice = df_x.iloc[comb].reset_index(drop=True)
    ySlice = df_y.iloc[comb].reset_index(drop=True)
    for l in range(len(df_x.iloc[comb])):
      x_train.append(xSlice.iloc[l])
      y_train.append(ySlice.iloc[l])
    x_train = np.array(x_train)
    
    betas = np.linalg.inv(x_train.T.dot(x_train)).dot(x_train.T).dot(y_train)    #Here we fit the model using the training set.
    y_pred = x_test.dot(betas)     #Here we find calculate the predicted values using the betas calculated above.

    mseT += MSE(y_test, y_pred)
    
  return mseT / k

In [24]:
crossValidation(X_vals,y_vals)

45704748427414.266

## Anish

In [ ]:
X_train = df
df_macro = macro

In [ ]:
y_train = X_train[["price_doc"]]
X_train = X_train.drop("price_doc", axis = 1)

In [ ]:
X_train_sample = X_train[["full_sq", "life_sq","floor", "max_floor"]].fillna(0).sample(5)
y_train_sample = y_train.loc[X_train_sample.index]

In [ ]:
class NeuralNetwork():
    def fit(self, X, y, n_hidden, nodes, activations):
        self._X = X.values
        self._y = y.values
        self._n_hidden = n_hidden
        self._nodes = nodes
        self._weights = self._generate_weights()
        self._biases = self._generate_bias()
        self._activations = activations
        
        self._train()
        
    def _activation(self, data, activation = "relu"):
        if activation == "relu":
            def relu(data):
                return np.array([max(0,i) for i in data]).reshape(data.shape)
            return np.apply_along_axis(relu, 1, data)
        if activation == "sigmoid":
            def sigmoid(data):
                return (1/(1 + np.exp(-data))).reshape(data.shape)
            return np.apply_along_axis(sigmoid, 1, data)
        
    def _loss_function(self, ypred, loss = "mse"):
        if loss == "mse":
            return ((y - ypred) ** 2).mean()
    
    def _generate_weights(self):
        hidden_weights = []
        nodes = self._nodes
        for idx in range(1,len(nodes)):
            hidden_weights.append(0.01 * np.random.randn(nodes[idx -1], nodes[idx]))
        return np.array(hidden_weights)
    
    def _generate_bias(self):
        hidden_layers = []
        nodes = self._nodes
        for i in range(self._n_hidden + 1):
            hidden_layers.append(np.zeros((nodes[i + 1], 1)))
        return np.array(hidden_layers)
    
    def _forward_propagation(self):
        """
        Suppose 2 observations
        
        Suppose previous layer is 3 nodes
        Suppose current layer is 2 nodes
        
        prev shape (2,3)
        prev = ob1 [prev_node_1 val, prev_node_2 val, prev_node_3 val]
               ob2 [prev_node_1 val, prev_node_2 val, prev_node_3 val]
               
        layer shape (3,2)
        layer = [weight for current_node_1 for prev_node_1, weight for current_node_2 for prev_node_1]
                [weight for current_node_1 for prev_node_2, weight for current_node_2 for prev_node_2]
                [weight for current_node_1 for prev_node_3, weight for current_node_2 for prev_node_3]
                
        output shape (2,2) # since 2 observations and 2 layers
        output = ob1 [current_node_1 val, current_node_2 val]
                 ob2 [current_node_1 val, current_node_2 val]
                 
        Then for bias in current layer it is (2,1) since 2 nodes in current layer
        
        So for each row in output we add the bias row wise and apply the activation function to each row
        
        prev <- ouput
        
        Move onto next layer...
        """
        prev = self._X
        weights = self._weights
        biases = self._biases
        activations = self._activations[1:-1]
    
        for idx, layer in enumerate(weights):
            if idx == (len(weights) - 1):
                prev = (prev @ layer) + biases[idx].T,
            else:
                prev = self._activation(data = (prev @ layer) + biases[idx].T,
                                        activation = activations[idx])
        return prev
    
    def _train(self):
        # CURRENTLY 1 STEP OF FORWARD PROPGAGATION
        out = self._forward_propagation()
        print(out)

In [ ]:
INPUT_SIZE = X_train_sample.shape[1]
OUTPUT_SIZE = 1
nodes = [INPUT_SIZE,4,4,4,4,5,4,4,4,OUTPUT_SIZE]
activations = ["relu" for i in range(len(nodes))]

nn = NeuralNetwork()

nn.fit(X = X_train_sample,
       y = X_train_sample,
       n_hidden = len(nodes) - 2,
       nodes = nodes,
       activations = activations)

In [ ]:
nn._biases

In [ ]:
X_train_sample.iloc[0]

In [ ]:
nn._weights[1].T.dot(nn._weights[0].T.dot(X_train_sample.iloc[1]))